.dateiupload-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    min-height: 200px;
    max-width: 500px;
}

@media (max-width: 1300px) {
    .dateiupload-container {
        max-width: 400px;
    }
}

@media (max-width: 1023px) {
    .dateiupload-container {
        max-width: 100%;
    }
}

.allowed-info {
    color: gray;
    font-size: 14px;
}

.allow-delete-box {
    display: flex;
    justify-content: space-between;
}

.delete-all-btn {
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.delete-all-btn img{
   width: 20px;
   height: 25px;
}



.delete-all-btn:hover {
    scale: 1.05;
}

.delete-all-btn:active {
    scale: 0.95;
}

.add-file-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: dashed 1px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

.add-file-box:hover {
    background-color: rgb(179, 171, 171);
}



.add-file-box.dragover {
    background-color: #f9f9f9;
    border: 2px dashed #555;
}

.upload-icon {
    height: 80px;
    cursor: pointer;
    object-fit: cover;
}

#gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 8px;
    padding: 10px;
    max-width: 600px;
    scroll-behavior: smooth;
}


#gallery img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

#gallery img:hover {
    filter: brightness(1.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.img-view-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all ease-in-out 100ms;
}

.img-view-box:hover {
    scale: 1.05;
}

.img-view {
    width: 100%;
    object-fit: cover;
    background-color: lightblue;
    filter: brightness(1.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.file-name {
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    color: rgb(114, 113, 113);
}


.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgb(226, 96, 96);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6px;
}